
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <form method='post'>
    <input placeholder="Enter username" id="username" value="username"></input>
    <input placeholder="Enter password" id="password" value="password"></input>
    <button>Register</button>
    </form>
{% endblock %}
